{{define "templates/user.html"}}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>我是 templates/user.html 页面</h1>
    <br>
    <form action="/addUser" method="post">
      Username: <input type="text" name="username" /><br>
      Password: <input type="password" name="password" /><br>
      <input type="submit" value="提交"></input>
      </br>
    </form>
  </body>
</html>
{{end}}